<div class="container">
  <app-header (HideReport)="hideReport()"></app-header>

  <div class="category-container">
    <div class="left-side">
      <app-calendar (changeDate)="loadCalendarString()"></app-calendar>
      <div class="report-btn-wrapper">
        <div class="report-btn" (click)="openReport()">
          <p>Отчёт</p>
        </div>
      </div>
    </div>
    <div class="right-side">
      <div class="inner-right-side">
        <div class="date">
          <p>{{ calendar }}</p>
          <!--          <p>20.05.2021</p>-->
        </div>
        <div class="title">
          <p>{{ this.group.title }}</p>
        </div>
        <div class="members">
          <p>{{ getMembersString() }}</p>
        </div>
        <div class="expenses">
          <div class="info-container">
            <div class="icon-plus"></div>
            <p class="word">Расходы</p>
            <p class="number">{{ finalOutcome | money}}</p>
          </div>
          <div class="icons-container">
            <div class="icon" *ngFor="let category of this.outComeCategories">
              <div class="circle">
                <p class="letters">{{ category.title.substring(0, 2) }}</p>
              </div>
              <p class="category">{{ category.title }}</p>
              <p class="money-amount">{{ getTotalExpenseByCategory(category.id) }}</p>
            </div>
          </div>
        </div>
        <div class="incomes">
          <div class="info-container">
            <div class="icon-plus"></div>
            <p class="word">Доходы</p>
            <p class="number">{{ finalIncome | money }}</p>
          </div>
          <div class="icons-container">
            <div class="icon" *ngFor="let category of this.incomeCategories">
              <div class="circle">
                <p class="letters">{{ category.title.substring(0, 2) }}</p>
              </div>
              <p class="category">{{ category.title }}</p>
              <p class="money-amount">{{ getTotalIncomeByCategory(category.id) | money }}</p>
            </div>
          </div>
        </div>
        <div class="sum">
          <p class="so">Итого:</p>
          <p class="money-amount">{{finalAmount | money}}</p>
        </div>
      </div>
    </div>


    <div class="report-layer" [class.hide-top]="isHidden">
      <app-report [openReport]="openedReport.asObservable()" [closeReport]="closedReport.asObservable()"></app-report>
    </div>
  </div>
</div>