<div class="container">
  <app-header (HideReport)="hideReport()"></app-header>

  <div class="category-container">
    <div class="left-side">
      <app-calendar (changeDate)="loadCalendarString()"></app-calendar>
      <div class="report-btn-wrapper">
        <div class="report-btn" (click)="openReport()">
          <p>Отчёт</p>
        </div>
      </div>
    </div>
    <div class="right-side">
      <div class="inner-right-side">
        <div class="date">
          <p>{{ displayData.date }}</p>
        </div>
        <div class="title">
          <p>{{ group.title }}</p>
        </div>
        <div class="members">
          <p (click)="membersClicked()">{{ getMembersString() }}</p>
        </div>
        <div class="expenses">
          <div class="info-container">
            <div class="icon-plus" (click)="openCreateOperationPage()"></div>
            <p class="word">Расходы</p>
            <p class="number">{{ displayData.totalOutCome | money}}</p>
          </div>
          <div class="icons-container">
            <div class="icon" *ngFor="let categoryItem of displayData.outcomeCategories"
                 (click)="showInfoCategoryOutcome(categoryItem)">
              <div class="circle">
                <p class="letters">{{ categoryItem.category.title.substring(0, 2) }}</p>
              </div>
              <p class="category">{{ categoryItem.category.title }}</p>
              <p class="money-amount">{{ categoryItem.amount | money}}</p>
            </div>
          </div>
        </div>
        <div class="incomes">
          <div class="info-container">
            <div class="icon-plus" (click)="openCreateOperationPage()"></div>
            <p class="word">Доходы</p>
            <p class="number">{{ displayData.totalIncome | money }}</p>
          </div>
          <div class="icons-container">
            <div class="icon" *ngFor="let categoryItem of displayData.incomeCategories"
                 (click)="showInfoCategoryIncome(categoryItem)">
              <div class="circle">
                <p class="letters">{{ categoryItem.category.title.substring(0, 2) }}</p>
              </div>
              <p class="category">{{ categoryItem.category.title }}</p>
              <p class="money-amount">{{ categoryItem.amount | money }}</p>
            </div>
          </div>
        </div>
        <div class="sum">
          <p class="so">Итого:</p>
          <p class="money-amount">{{displayData.totalAmount | money}}</p>
        </div>
      </div>
    </div>

    <div class="report-layer" [class.hide-top]="isHiddenReport">
      <app-report
        [openReport]="openedReport.asObservable()"
        (activeMonthChanged)="fillForMonth($event)"
        [closeReport]="closedReport.asObservable()"
        [incomeExpenses]="displayData.incomeExpensePerMonth"></app-report>
    </div>

    <div class="info-category-layer" [class.hide-right]="isHiddenInfoCategory">
      <app-info-category
        [openedInfoCategory]="openedInfoCategory.asObservable()"
        [closedInfoCategory]="closedInfoCategory.asObservable()"
        (InfoCategoryHidden)="closeInfoCategory()"
        [activeIncomeCategory]="selectedIncomeCategory"
        [activeOutComeCategory]="selectedOutComeCategory"></app-info-category>
    </div>
  </div>
</div>
