<div class="create-group-container">
  <app-header></app-header>
  <form [formGroup]="authFormGroup" (submit)="save()" (keyup.enter)="save()">
    <div class="control-row">
      <h1 class="title">Название группы</h1>
      <app-data-edit [placeholder]="'Название'" [phone]="true" formControlName="username"
                     [validators]="validators"></app-data-edit>
    </div>
    <button class="save-changes-btn" type="submit" [disabled]="authFormGroup.invalid || isFormSent">Создать</button>
  </form>
</div>
