<div class="container">

  <app-header (HideReport)="hideReport()"></app-header>


  <div class="group-container">

    <single-group-info></single-group-info>


    <div class="calendar-container not-done"> <!-- calendar-layer-->
      <calendar></calendar>
      <div class="report-btn-wrapper">
        <div class="report-btn" (click)="openReport()">
          <p>Отчёт</p>
        </div>
      </div>
    </div>


    <div class="report-container not-done"> <!-- report-layer [class.hide-top]="isHiddenReport"-->
      <group-report
        [openReport]="openedReport.asObservable()"
        (activeMonthChanged)="fillForMonth($event)"
        [closeReport]="closedReport.asObservable()"
        [incomeExpenses]="displayData.incomeExpensePerMonth">
      </group-report>
    </div>


    <div class="detailed-operation-container not-done"> <!-- info-category-layer [class.hide-right]="isHiddenInfoCategory" -->
      <detailed-operation
        [openedInfoCategory]="openedInfoCategory.asObservable()"
        [closedInfoCategory]="closedInfoCategory.asObservable()"
        (InfoCategoryHidden)="closeInfoCategory()"
        [activeIncomeCategory]="selectedIncomeCategory"
        [activeOutComeCategory]="selectedOutComeCategory">
      </detailed-operation>
    </div>

  </div>

</div>
