<div class="container">

  <app-header (HideReport)="hideReport()"></app-header>


  <div class="frame-for-overflow">

    <div class="group-container">

      <single-group-info (categoryClickedEvent)="showDetailedCategory()"></single-group-info>


      <div class="calendar-container not-done"> <!-- calendar-layer-->
        <calendar></calendar>
        <div class="report-btn-wrapper">
          <div class="report-btn" (click)="openReport()">
            <p>Отчёт</p>
          </div>
        </div>
      </div>


      <div class="report-container not-done"> <!-- report-layer [class.hide-top]="isHiddenReport"-->
        <!--      <group-report-->
        <!--        [openReport]="openedReport.asObservable()"-->
        <!--        (activeMonthChanged)="fillForMonth($event)"-->
        <!--        [closeReport]="closedReport.asObservable()"-->
        <!--        [incomeExpenses]="displayData.incomeExpensePerMonth">-->
        <!--      </group-report>-->
        <group-report
          [openReport]="openedReport.asObservable()"
          [closeReport]="closedReport.asObservable()">
        </group-report>
      </div>


      <div class="detailed-category-container"
           [ngClass]="!this.isShownInfoCategory ? 'detailed-category-container-hidden' : ''"
      >
        <detailed-category (InfoCategoryHiddenEvent)="isShownInfoCategory = false"
                           [InfoCategoryOpenedEvent]="showInfoCategory.asObservable()">
        </detailed-category>
      </div>

    </div>

  </div>

</div>
