<div class="info-category-container">
  <div  class="hide-info-category">
    <div class="hide-info-inner" (click)="hideInfoCategory()"></div>
  </div>
  <div class="category">
    <div class="icon">
      <div class="circle">
        <p class="letters">{{ letters }}</p>
      </div>
      <p class="category">{{ title }}</p>
      <p class="money-amount">{{ moneyAmountStr }}</p>
    </div>
  </div>
  <div class="number-wrapper">
    <div class="number">
      <div class="number-text"></div>
      <div class="username"></div>
    </div>
  </div>
</div>
